@model IEnumerable<K22CNT3_PhamThanhDat_2210900007_Pj2.Models.SanPham>

@{
    ViewBag.Title = "Danh sách sản phẩm ";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mt-3">
            <div class="card w-100">
                <img src="@item.HinhAnh" class="card-img-top" alt="@item.TenSanPham">
                <div class="card-body">
                    <h5 class="card-title">@item.TenSanPham</h5>
                    <p>Giá: <sapn class="text-danger">@item.DonGia.Value.ToString("#,##0")</sapn></p>
                    <a href="/PTDCart/AddToCart?id=@item.Id&TenSanPham=@item.TenSanPham&HinhAnh=@item.HinhAnh&SoLuongMua=1&DonGiaMua=@item.DonGia"
                       class="btn btn-primary">
                        Mua hàng
                    </a>
                </div>
            </div>

        </div>
    }
</div>


